@{
    ViewBag.Title = "Over ons";
}
<h2>@ViewBag.Title.</h2>

<p>
    La Crosta pizzaria is bevindt zich op rachelsmolen 1. Bestel je favoriete pizza's, salade's en drankjes. Alles is online mogelijk. We accepteren bestellingen voor ophalen en bezorgen.
</p>
