@model Models.Customer

@{
    ViewBag.Title = "Home Pagina";
}
<br/><br />
<h2> Welkom @Model.name @Model.surName</h2>
<br /><br />


<a href="/Home/CustomerDetails" class="btn btn-primary">
    <i class="fa fa-user fa-5x" style="margin-right: 5px;"></i>
    <br />Mijn profiel<br/>
</a>
<a href="/Order/Index" class="btn btn-primary">
    <i class="fa fa-plus fa-5x" style="margin-right: 5px;"></i>
    <br />Nieuwe bestelling
</a>
<a href="/Home/OrderListByCustomer" class="btn btn-primary">
    <i class="fa fa-book fa-5x" style="margin-right: 5px;"></i>
    <br />Mijn vorige bestellingen<br />
</a>