@model Models.Customer

@{
    ViewBag.Title = "Home Pagina";
}
<br/><br />
<h2> Welkom CustomerName</h2>
<br /><br />
@Html.ActionLink("Mijn profiel", "CustomerDetails", "HomeController", null, new { @class = "btn btn-primary" })
<br /><br />
@Html.ActionLink("Nieuwe bestelling", "NewOrder", "OrderController", null, new { @class = "btn btn-primary" })
<br /><br />
@Html.ActionLink("Al mijn bestellingen", "CustomerDetails", "OrderController", null, new { @class = "btn btn-primary" })
<br /><br />