@model IEnumerable<Models.Pizza>

@{
    ViewBag.Title = "StandardPizzaList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Standaard pizza's</h2>

<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Prijs
        </th>
        <th>
            Voeg toe
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.StandardPizza == true)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    €@item.Price
                </td>
                <td>
                    @using (Html.BeginForm("StandardPizzaList", "Order", new { pizzaID = item.ID, OrderID = (int)ViewBag.OrderID }))
                    { 
                        <input type="submit" value="Voeg toe" />
                    }
                </td>
            </tr>
        }
    }
</table>
