@model IEnumerable<Models.Pizza>

@{
    ViewBag.Title = "StandardPizzaList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Standaard pizza's</h2>

<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Prijs
        </th>
        <th>
            Voeg toe
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.StandardPizza == true)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    €@item.Price
                </td>
                <td>
                    <a href="/Order/Index/@ViewBag.OrderID" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a>
                </td>
            </tr>
        }
    }
</table>
