@model IEnumerable<Models.Pizza>

@{
    ViewBag.Title = "StandardPizzaList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Standaard pizza's</h2>

<table class="table">
    <tr>
        <th>
            Naam
        </th>
        <th>
            Prijs
        </th>
    </tr>

    @foreach (var item in Model)
    {
        decimal price = item.Price / 100;
        price = Math.Round(price, 2);
        if (item.StandardPizza == true)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    €@price
                </td>
            </tr>
        }
    }
</table>
